:root {
  /* color */
  --color--: rgba(230, 230, 230, 1);
  /* font-size */
  /* border */
  --border--: 2px solid rgba(144, 144, 144, 0.7);
  --border-radius--: 5px;
  /* background-color */

  /* animation */
  --animation-linear-07--: color 0.5s linear, background-color 0.5s linear;
}
