@import "_test.scss";
@import "_mixins.scss";
@import "_buttons.scss";

h1 {
  color: red;
  @include responsive("iphone") {
    color: yellow;
  }
  @include responsive("iphone-l") {
    font-size: 200px;
  }
  @include responsive("ipad") {
    color: green;
  }
}

// button {
//   @extend %button;
//   border: none;
// }
