body {
  width: auto;
  height: 2000vh;
  background-color: lightcoral;
}

#aside-left {
  z-index: 2;
  position: fixed;
  min-width: 400px;
  width: 40%;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aside-left .aside_clmn {
  width: 90%;
  height: 100%;
  margin: 5% 2.5% 0 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aside-left .aside_clmn:nth-child(1) {
  margin-bottom: 30%;
  height: 20%;
}

#aside-left .aside_clmn:nth-child(2) {
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#aside-left .aside_clmn:nth-child(2) #aside_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#aside-left .aside_clmn:nth-child(2) #aside_link a {
  margin-right: 10px;
}

#index_main {
  position: absolute;
  right: 0;
  width: 60%;
  background-color: lightskyblue;
}

#aside-left .aside_clmn:nth-child(1) #aside_title {
  font-size: 60px;
  color: #f74343;
}

#aside-left .aside_clmn:nth-child(2) #aside_subtitle {
  margin-bottom: 50px;
  font-size: 22px;
  color: #e94d4d;
}

#aside-left .aside_clmn:nth-child(2) #aside_description {
  margin-bottom: 50px;
  font-size: 18px;
  color: #ee9292;
}

#aside-left .aside_clmn:nth-child(2) #aside_subtitle, #aside-left .aside_clmn:nth-child(2) #aside_description {
  line-height: 30px;
}

#aside-left .aside_clmn:nth-child(2) #aside_link a {
  width: auto;
  height: 20px;
  font-size: 16px;
  display: inline-block;
  color: #d14444;
  border-bottom: 1px solid #d14444;
}

#aside-left .aside_clmn:nth-child(2) #aside_link a button {
  color: #d14444;
  border: inherit;
  border-bottom: none;
  background-color: inherit;
}
