svg {
  width: 20px;
}

button {
  border: none;
  background-color: inherit;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

$nav_clmn_margin: 20px;
$nav_button_margin: 20px;

#nav-top {
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 10px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .nav_clmn {
    width: 30%;
    height: 100px;
    display: flex;

    align-items: center;
  }
  .nav_clmn:first-child {
    margin-left: $nav_clmn_margin;
    justify-content: flex-start;
  }
  .nav_clmn:nth-child(2) {
    justify-content: center;
    svg {
      width: 50px;
    }
  }
  .nav_clmn:last-child {
    margin-right: $nav_clmn_margin;
    justify-content: flex-end;
    span {
      display: block;
    }
  }
}

#nav-top_second {
  z-index: 2;
  background-color: rgb(255, 221, 180);
  position: fixed;
  top: 110px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button {
    margin-left: $nav_button_margin;
    margin-bottom: $nav_button_margin;
  }
  button:first-child {
    margin-top: $nav_button_margin;
  }
  button:last-child {
    margin-bottom: $nav_button_margin;
  }
}

@media screen and (max-width: 800px) {
  #btn_nail_studio,
  #btn_shop_product,
  #btn_journal,
  #btn_shopping,
  #btn_shopping-count {
    display: none;
    visibility: none;
  }
  #btn_menu-folding {
    display: inherit;
  }
}
