$margin_px_standard: 30px;

$margin_percent_30: 30%;
$margin_percent_25: 25%;
$margin_percent_20: 20%;
$margin_percent_15: 15%;
$margin_percent_10: 10%;

$size_flex_box_100: 100%;
$size_flex_box_90: 90%;
$size_flex_box_80: 80%;
$size_flex_box_75: 75%;
$size_flex_box_70: 70%;
$size_flex_box_60: 60%;
$size_flex_box_50: 50%;
$size_flex_box_40: 40%;

$font-color-basic: rgb(0, 0, 0);
$font-color-ad: rgb(102, 102, 102);
