@import "_variable.scss";
@import "_animation.scss";
@import "_responsive.scss";

body {
  // size
  width: auto;
  height: 2000vh;
  // design
  background-color: lightcoral;
}

$font-size_title: 60px;
$font-size_subtitle: 22px;
$font-size_description: 18px;
$font-size_link: 16px;

$font-color_title: rgb(247, 67, 67);
$font-color_subtitle: rgb(233, 77, 77);
$font-color_description: rgb(238, 146, 146);
$font-color_link: rgb(209, 68, 68);

$border_color: $font-color_link;
$border_anchor: 1px solid $border_color;
#aside-left {
  // position
  z-index: 2;
  position: fixed;
  // size
  // 1025px 이하일때 미디어 쿼리 적용
  width: 40%;
  height: 100vh;
  // design
  background-color: white;
  // display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .aside_clmn {
    // size
    width: 90%;
    height: 100%;
    // marign
    margin: 5% 2.5% 0 2.5%;

    // display
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .aside_clmn:nth-child(1) {
    // margin
    margin-bottom: 30%;
    // size
    height: 20%;
    #aside_title {
      @extend %h1_title;
    }
  }
  .aside_clmn:nth-child(2) {
    height: 50%;
    align-items: center;
    justify-content: flex-end;
    #aside_subtitle {
      @extend %h3_subtitle;
    }
    #aside_description {
      @extend %h4_description;
    }
    #aside_link {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      a {
        @extend %a;
        margin-right: 10px;
        button {
          @extend %button;
        }
      }
    }
  }
}
#index_main {
  // position
  position: absolute;
  right: 0;
  width: 60%;
  background-color: lightskyblue;
  @include index_main;
}

@mixin index_main() {
  @media screen and (min-width: 1025px) {
    @content;
  }
  @media screen and (max-width: 1025px) {
    @content;
    #aside-left {
      width: 50%;
    }
    #index_main {
      width: 50%;
    }
  }
}

%h1_title {
  font-size: $font-size_title;
  color: $font-color_title;
}
%h3_subtitle {
  @extend %h123456;
  margin-bottom: 50px;
  font-size: $font-size_subtitle;
  color: $font-color_subtitle;
}
%h4_description {
  @extend %h123456;
  margin-bottom: 50px;
  font-size: $font-size_description;
  color: $font-color_description;
}
%h123456 {
  line-height: 30px;
  // 미디어 쿼리로 가로 배열 바꿀때 정렬
}
%a {
  // size
  width: auto;
  height: 20px;
  // font
  font-size: $font-size_link;
  // display
  display: inline-block;
  color: $font-color_link;
  border-bottom: $border_anchor;
}
%button {
  // design
  color: $font-color_link;
  border: inherit;
  border-bottom: none;
  background-color: inherit;
}
