body {
  background-color: wheat;
  height: 300vh;
}

button {
  border: none;
  background-color: inherit;
}
svg {
  width: 20px;
}
$aside_back: white;
$aside_font: lightcoral;
$aside_font_title: rgb(243, 30, 30);
$aside_font_subtitle: rgb(253, 51, 51);
$aside_font_description: rgb(241, 42, 42);
$aside_button: grey;
$aside_button_underline: rgb(54, 47, 47);

#index_aside {
  background-color: $aside_back;
  position: fixed;
  left: 0;

  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .aside_clmn {
    margin: 10%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: $aside_font;
    h1 {
      font-size: 60px;
      color: $aside_font_title;
    }
    h3 {
      font-size: 30px;
      margin-bottom: 60px;
      color: $aside_font_subtitle;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 36px;
      line-height: 22px;
      color: $aside_font_description;
    }
    #aside_link {
      a {
        display: inline-block;
        height: 22px;
        border-bottom: 1px solid $aside_button_underline;
        button {
          font-weight: 600;
          color: $aside_button;
        }
        transition: all 0.3s linear;
      }
      a:hover {
        background-color: rgb(236, 75, 46);
        button {
          color: white;
        }
      }
    }
  }
}

// main
#index_main {
  position: absolute;
  right: 0;

  width: 50%;
  height: auto;
  background-color: rgb(233, 75, 75);

  display: grid;
  grid-template: repeat(1, 50vh) / repeat(1, 100%);
  grid-auto-flow: row;
  grid-auto-rows: 50vh;

  .main_box {
    margin: 5%;
    width: 90%;
    height: auto;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: space-around;

    justify-content: center;
    .main_rows {
      display: flex;
    }
    .main_rows:nth-child(1) {
      margin-bottom: 10px;
      align-items: flex-end;
      justify-content: space-between;
      h2 {
        font-size: 25px;
      }
      h4 {
        font-size: 15px;
        text-align: right;
      }
    }
    .main_rows:nth-child(2) {
      margin-bottom: 10px;
      justify-content: center;
      img {
        width: 100%;
        max-width: 600px;
        height: 100%;
      }
    }
    .main_rows:nth-child(3) {
      align-items: center;
      justify-content: flex-end;
    }
  }
  .main_box:last-child {
    position: relative;
  }
}
#footer {
  // position
  position: absolute;
  bottom: 0;

  // display
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    width: auto;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    // display
    display: flex;
    align-items: center;
    button {
      margin: 0 5px;
      // font
      font-size: 18px;
    }
    transition: all 0.3s linear;
  }
  a:hover {
    background-color: lightcoral;
  }
}
@media screen and (max-width: 800px) {
  #index_aside {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    .aside_clmn:nth-child(1) {
      margin: 10% 10% 0 10%;
      height: auto;
      #aside_title {
        font-size: 35px;
        margin-bottom: 70px;
      }
    }
    .aside_clmn:nth-child(2) {
      margin: 0 10% 10% 10%;
      #aside_subtitle {
        font-size: 30px;
      }
      #aside_description {
        display: none;
      }
    }
  }
  #index_main {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(50vh);
  }
}
